.App {
  text-align: center;
}


.App-header {
  background-color: #e8e8e8;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-toolbar {

  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.scrollable-table {
  overflow: auto;
  
  min-width: 33%;
 
  min-height:70%;
  max-height: 100%; /* Adjust the height as needed */
  margin-top: 5%;
}

.custom-card {
  display: flex;
}
.selected-movie-card{
  margin-top: 5%;
  position: sticky;
  top: 0;
}
.col-2{
  width: 60%;
  margin-left:1%;
}
.user-dropdown{
  display: flex;
  align-items: flex-start;
}